body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsla(127, 50%, 50%, 1);
}

.body-background {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  background: linear-gradient(hsla(185, 0%, 100%, 0.1), hsla(185, 0%, 100%, 0.1)),
    url('./shane-rounce-405329-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-bar {
  text-align: right;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: hsla(127, 50%, 50%, 1);
}

.nav-bar p {
  padding-left: 1.5rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  padding: 0 1rem 0 1rem;
}

.links {
  display: flex;
  align-items: center;
}

h1 {
  color: white;
  margin: 0;
  font-weight: normal;
}

.main-caption {
  color: white;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 1.5rem;
}

h4 {
  position: absolute;
  bottom: 0px;
}
button {
  font-size: 1.3rem;
  color: white;
  background-color: hsl(200, 100%, 60%);
  width: 14rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  /* border: 2px solid hsl(185, 0%, 80%); */
}

.what-is {
  background-color: hsla(127, 50%, 40%, 1);
  text-align: center;
}

.how-it-works {
  background-color: hsla(127, 50%, 40%, 1);
  text-align: center;
}

.what-is h1,
.how-it-works h1 {
  padding: 1.5rem 0 1rem 0;
}

.box-container {
  display: flex;
  min-height: 30rem;
  padding: 0.6rem;
  justify-content: center;
}

.box {
  width: 20rem;
  background-color: hsla(127, 50%, 60%, 1);
  margin: 0.6rem;
}

.box p {
  color: white;
  text-align: center;
  line-height: 1.7rem;
  padding: 1.5rem;
  margin: 0;
}

/* ---------- Unmatched Profile -------- */

.their-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
}

.profile-pic {
  width: 24rem;
}

.profile-name {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin: 1rem;
}

.their-profile p {
  margin: 0.5rem;
}
