body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsla(127, 50%, 50%, 1);
}

@font-face {
  font-family: 'Good Vibes';
  src: url('./goodvibes.ttf');
}

.body-background {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  background: linear-gradient(hsla(185, 0%, 100%, 0.1), hsla(185, 0%, 100%, 0.1)),
    url('./shane-rounce-405329-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-bar {
  text-align: right;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: hsla(127, 50%, 50%, 1);
}

.nav-bar p {
  padding-left: 1.5rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  margin: 0 1rem 0 1rem;
}

.logo {
  font-family: 'Good Vibes';
  font-size: 1.8rem;
  margin: 0.8rem;
}

.links {
  display: flex;
  align-items: center;
}

h1 {
  color: white;
  margin: 0;
  font-weight: normal;
}

.main-caption {
  color: white;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 1.5rem;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 300;
}

h4 {
  position: absolute;
  bottom: 0px;
}

button {
  font-size: 1.3rem;
  color: white;
  background-color: hsl(200, 100%, 60%);
  width: 14rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  /* border: 2px solid hsl(185, 0%, 80%); */
}

.what-is {
  background-color: hsla(127, 50%, 50%, 1);
  text-align: center;
}

.how-it-works {
  background-color: hsla(127, 50%, 50%, 1);
  text-align: center;
}

.what-is h1,
.how-it-works h1 {
  padding: 1.5rem 0 1rem 0;
}

.box-container {
  display: flex;
  min-height: 30rem;
  padding: 0.6rem;
  justify-content: center;
}

.box {
  width: 20rem;
  background-color: hsla(127, 50%, 60%, 1);
  margin: 0.6rem;
}

.box p {
  color: white;
  text-align: center;
  line-height: 1.7rem;
  padding: 1.5rem;
  margin: 0;
}

/* ---------- Unmatched Profile -------- */

.their-profile {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsla(127, 50%, 80%, 1);
  /* background-color: white; */
}

.their-profile .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
}

.profile-name {
  font-size: 2rem;
  color: black;
  text-align: center;
  margin: 1rem;
}

.profile-pic {
  width: 24rem;
  border-radius: 10px;
  display: block;
}

.their-profile .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0.3rem;
  width: 30rem;
  border-radius: 5px;
}

.category .header {
  font-size: 1.2rem;
  padding: 0.5rem 0 0 0;
}

.category .body {
  padding-bottom: 0.7rem;
  line-height: 1.3rem;
}

.their-profile p {
  margin: 0.5rem;
  padding: 0 3rem 0 3rem;
}

.their-profile ul {
  margin: 0.5rem;
  padding: 0 3rem 0 3rem;
}

.from {
  padding: 2rem;
  margin: 5px;
}

.their-profile button {
  margin: 0.5rem;
}

/* ------------- MyProfile --------------- */

.my-profile {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsla(127, 50%, 80%, 1);
  /* background-color: white; */
}

.my-profile .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
}

.my-profile .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
}

.my-profile p {
  margin: 0.5rem;
  padding: 0 3rem 0 3rem;
}

.my-profile ul {
  margin: 0.5rem;
  padding: 0 3rem 0 3rem;
}

.my-links {
  font-size: 1.2rem;
}

.link {
  display: flex;
  background-color: white;
  margin: 0.3rem;
  width: 30rem;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
}

.mini-pic {
  width: 8rem;
}

.link p {
  margin: 0 0 0.5rem 1rem;
  padding: 0;
}

.link-status {
  font-size: 1.2rem;
}

.link button {
  margin: 0.2rem 0 0 1rem;
}

footer {
  height: 3rem;
  background-color: hsla(127, 50%, 80%, 1);
}

/* -------------- RequestProfile ---------- */

.request-buttons button {
  margin-bottom: 1rem;
  width: 13.5rem;
}
